* {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f7f9;
  height: 100vh;
  align-items: center;
  padding-top: 40px;
}

div {
  background-color: white;
  width: 450px;
  margin: auto;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  margin-top: 70px;
  border-radius: 8px;
  padding: 40px 60px 140px 60px;
}

form {
  display: grid;
  row-gap: 30px;
}

input {
  height: 50px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 17px;
  padding-left: 16px;
  font-weight: 500;
  color: #484849;
}

button {
  height: 60px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #3a7ff9;
  font-size: 18px;
  margin: 12px 0px 20px 0;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}

#h62 {
  color: #908F92;
  text-align: center;
}

#h61 {
  font-size: 20px;
  color: #908F92;
  font-weight: 500;
  margin-bottom: 8px;
}
